body {
    margin: 0;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive;
    width: 100%;
}

h1 {
    font-family: "Comic Sans MS", cursive;
}

#navigationBar {
    position: relative;
    display: flex;
    background: #062631;
    height: 40%;
    padding: 1%;
    font-family: "Comic Sans MS", cursive;
    color: beige;
}


#container {
    width: 100%; /* Fill the entire viewport width */
    max-width: 100%; /* Ensure the container doesn't exceed viewport width */
    height: 91.7vh;
    background-image: linear-gradient(to bottom right, #f5f5dc 20%, #e3c8a9 99%, #e3c8a9 100%);
    padding: 1%; /* Adjusted for responsiveness */
    color: #062631;
    box-sizing: border-box; /* Include padding in width calculation */
}


#navigationBar > div {
    margin-right: 2%;
}

#navigationBar > div:nth-of-type(3) {
    margin-left: 2%;
}

#divSeparateNameHome {
    position: absolute;
    left: calc(100px + 2%);
    top: calc(7px + 2%);
    padding: 0;
    width: 2px;
    height: 40px;
    background: beige;
    border-radius: 4px;
}

#navigationBar > div > a {
    color: beige;
    text-decoration: none;
}

#navigationBar > div:last-of-type {
    position: absolute;
    right: 2%;
    top: 0;
}

#navigationBar > div > a:hover {
    transition: color 1s;
    color: lightskyblue;
}

#chooseAlgorithm, #chooseAlgorithm option {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: bold;
    background-color: #062631;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: beige;
    cursor: pointer;
    text-align: center;
    transition: color 1s, border-color 1s;
}

#chooseAlgorithm:hover, #chooseAlgorithm option:hover {
    color: lightskyblue;
    font-weight: bold;
    border-color: lightskyblue;
}

#showAlgorithmButton, #clearTableButton, #clearWallsButton, #startNodeDiv {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #062631;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: beige;
    cursor: pointer;
    transition: color 1s, border-color 1s;
}

#showAlgorithmButton:hover, #clearTableButton:hover, #clearWallsButton:hover {
    color: lightskyblue;
    border-color: lightskyblue;
}


/* Add media queries for responsiveness */
@media only screen and (max-width: 768px) {
    #navigationBar {
        flex-wrap: wrap;
    }

    #navigationBar > div {
        margin: 5px 0;
        text-align: center;
    }

    #navigationBar > div:last-of-type {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    #divSeparateNameHome {
        position: static;
        margin-top: 10px;
    }
}

table, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: white;
    transition: background-color 0.3s ease;
}

.visited {
    background: radial-gradient(circle, hsl(180, 100%, 80%) 0%, hsl(180, 100%, 60%) 25%, hsl(120, 100%, 40%) 50%, hsl(200, 100%, 60%) 75%, hsl(200, 100%, 80%) 100%);
}


#tableGraph span {
    padding-left: 4px;
}

#startNodeP {
    background-color: #062631;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    color: beige;
    width: 97px;
    height: 18px;
}

#finishNodeP {
    background-color: #062631;
    padding: 4px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: beige;
    width: 105px;
    height: 18px;
}

#wallNodeContainer {
    background-color: #e3e3cb;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 101px;
    height: 20px;
}

#wallNodeP, #visitedNodesP {
    display: flex;
    background-color: #062631;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: beige;
    width: 130px;
    height: 30px;
}

#wallNode {
    display: block;
    width: 20px;
    height: 20px;
    background-color: black;
}

#wallNodeContainer {
    display: block;
    width: 21px;
    height: 21px;
}

#wallNodeText, #visitedNOdeText, #unvisitedNodeText, #shortestPathNodeText {
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
    height: 100%; /* Ensure the span takes up full height of its parent */
    padding-left: 5px;
}

#visitedNodesP {
    display: flex;
    flex-direction: row;
    background-color: #062631;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: beige;
    width: 165px;
    height: 30px;
}

#visitedNodeContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: #e3e3cb;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: beige;
    width: 52px;
    height: 21px;
}

.visitedNode:first-child {
    display: block;
    width: 20px;
    height: 20px;
    background-color: lightskyblue;
}

.visitedNode:last-child {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    background-color: midnightblue;
}

#unvisitedNodeP {
    display: flex;
    flex-direction: row;
    background-color: #062631;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: beige;
    width: 165px;
    height: 30px;
}

#unvisitedNode {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
}

#unvisitedNodeContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: #e3e3cb;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: beige;
    width: 25px;
    height: 21px;
}

#navigationLegend {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #062631;
    color: beige;
    border-radius: 10px;
}

.legend-item {
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    min-width: fit-content;
}

#unvisitedNodeContainer,
#wallNodeContainer,
#visitedNodeContainer,
#shortestPathNodeContainer {
    margin-right: 5px;
}

#unvisitedNode,
#wallNode,
.visitedNode,
#shortestPathNode {
    width: 20px;
    height: 20px;
    display: inline-block;
}

/* Media Query for responsiveness */
@media only screen and (max-width: 768px) {
    #navigationLegend {
        flex-direction: column;
        text-align: center;
    }

    .legend-item {
        margin: 5px 0;
    }
}


#shortestPathNodeP {
    display: flex;
    flex-direction: row;
    background-color: #062631;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: beige;
    width: 182px;
    height: 30px;
}

#shortestPathNodeContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: #e3e3cb;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: beige;
    width: 25px;
    height: 21px;
}

#shortestPathNode {
    display: block;
    width: 20px;
    height: 20px;
    background-color: yellow;
}

#descriptionAlgorithmLegend {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

#tutorialPage {
    width: 500px;
    height: 525px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-image: linear-gradient(to bottom right, #f5f5dc 20%, #e3c8a9 99%, #e3c8a9 100%);
    border: black 5px solid;
    border-radius: 4px;
    padding: 0 20px 20px;
    font-family: "Comic Sans MS", cursive;
    font-size: 16px;
}

#tutorialPage > h1 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

#tutorialPage > p > span {
    text-align: center;
    display: inline-block;
}

#tutorialChoosePage {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}

#tutorialChoosePage .btn {
    background-color: black;
    color: beige;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

#tutorialChoosePage .btn:hover {
    transition: color 1s;
}

.btn2 {
    background-color: black;
    color: beige;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 45%;
}

#tutorialChoosePage .btn2:hover {
    transition: color 1s;
    color: lightskyblue;
}

#tablePathFinder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Adjust height as needed */
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
}

#tableGraph {
    width: 97%; /* Set table width to 100% */
}

#clementCSS {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

#clementCSS:hover {
    text-decoration: underline;
}