body {
    margin: 0;
    max-width: 1215px; /* Set max-width instead of fixed width */
    width: 100%; /* Ensure width adjusts to screen size */
    font-weight: bold;
}

h1 {
    font-family: "Comic Sans MS", cursive;
}

#navigationBar {
    position: relative;
    display: flex;
    background: #062631;
    height: 50px;
    padding-left: 2%; /* Use percentage for padding */
    padding-right: 2%;
    font-family: "Comic Sans MS", cursive;
    color: beige;
}

#navigationBar > div {
    display: inline-block;
    margin-left: 2%; /* Use percentage for margin */
    margin-top: 15px;
    margin-right: 1%;
}

#navigationBar > div:nth-of-type(3) {
    margin-left: 2%; /* Use percentage for margin */
}

#divSeparateNameHome {
    position: absolute;
    left: calc(15% + 2px); /* Use calc for dynamic positioning */
    top: -10px;
    padding: 0;
    width: 2px;
    height: 40px;
    background: beige;
    border-radius: 4px;
}

#navigationBar > div > a {
    color: beige;
    text-decoration: none;
}

#navigationBar > div:last-of-type {
    position: absolute;
    right: 2%; /* Use percentage for margin */
    margin-top: 0;
}

#navigationBar > div > a:hover {
    transition: color 1s;
    color: lightskyblue;
}

#chooseAlgorithm, #showAlgorithmButton {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #062631;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: beige;
    cursor: pointer;
    text-align: center;
    transition: color 1s, border-color 1s;
}

#chooseAlgorithm:hover {
    color: lightskyblue;
    border-color: lightskyblue;
}

#showAlgorithmButton:hover {
    color: lightskyblue;
    border-color: lightskyblue;
}

#tableSortNodes {
    width: 100%; /* Take full width of the container */
    height: 500px;
}

#divArrayGraph {
    width: 100%; /* Take full width of the container */
    height: 500px;
    display: flex; /* Use flexbox */
    flex-wrap: wrap;
    justify-content: center;
    margin: auto; /* Center the div horizontally */
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #navigationBar {
        flex-wrap: wrap; /* Allow navigation items to wrap */
        justify-content: space-between; /* Distribute items evenly */
        padding: 2% 5%; /* Adjust padding */
    }

    #navigationBar > div {
        margin-left: 0; /* Reset margin */
        margin-right: 0; /* Reset margin */
        margin-top: 5px; /* Adjust margin */
        width: 100%; /* Take full width */
        text-align: center; /* Center align */
    }

    #navigationBar > div:nth-of-type(3) {
        margin-top: 0; /* Reset margin */
    }

    #divSeparateNameHome {
        display: none; /* Hide separator */
    }

    #navigationBar > div:last-of-type {
        position: relative; /* Reset position */
        margin-top: 10px; /* Adjust margin */
    }
}
